/* permitirnos definir un nuevo valor para una nueva propiedad  */

/* Defifnir otra tipografia */
@font-face {
    font-family: "young-serif";
    src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400;
};

@font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/outfit/static/Outfit-ExtraLight.ttf") format("truetype");
    font-weight: 200;
};
@font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/outfit/static/Outfit-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/outfit/static/Outfit-Medium.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Outfit";
    src: url("/assets/fonts/outfit/static/Outfit-Black.ttf");
    font-weight: 500;
}

